<div class="modal datepicker-modal open" tabindex="0" style="z-index: 1003; display: block; opacity: 1; top: 10%; transform: scaleX(1) scaleY(1);">
  <div class="modal-content datepicker-container">
    <div class="datepicker-calendar">
      <fieldset class="wrapper wrapper-inline wrapper-days" [ngStyle]="{ 'border-color': options.color }">
        <legend>{{LocalizationData.Translations.MonthDay}}</legend>
        <div class="days" [ngClass]="{'disabled': disabled}">
          <div class="day" *ngFor="let dayNum of numbers">
            <div class="circle" [ngClass]="isDaySelected(dayNum)" (click)="selectDay($event, dayNum)">{{dayNum}}</div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="datepicker-date-display">
      <fieldset class="wrapper wrapper-inline wrapper-weekDays" [ngStyle]="{ 'border-color': options.color }">
        <legend>{{LocalizationData.Translations.WeekDay}}</legend>
        <div class="weekDays" [ngClass]="{'disabled': disabled}">
          <div class="weekDay" [ngClass]="isWeekDaySelected(weekDay.id)" (click)="selectWeekDay($event, weekDay.id)" *ngFor="let weekDay of days">{{weekDay.text}}</div>
        </div>
      </fieldset>
    </div>
    <div class="datepicker-data-start-time">
      <fieldset [ngStyle]="{ 'border-color': options.color }">
        <legend>{{LocalizationData.Translations.StartTime}}</legend>
        <bl-dropdown-ng2 [disabled]="disabled" name="time" required [(ngModel)]="scheduleModel.startTime" [dataSource]="options.startTimeDataSource"
          (onSelect)="modelOut()"></bl-dropdown-ng2>
      </fieldset>
    </div>
  </div>
